.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}


button {
  font-size: calc(12px + 2vmin);
  border-radius: 3px;
  background-color: royalblue;
  color: white;
  padding: 6px 10px;
}
button:hover {
  background-color: blue;
}

#map {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.leaflet-container { width: 100%; height: 100%}
